*{
	padding: 0;
	margin: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(60, 138, 127);
}

#main-play-area {
    background-color: black;
    background-image: url(img/space.png);
    height: 600px;
    width: 600px;
    border: solid 2px white;
}

h1{
    margin-top: 10px;
}

.start-button {
    margin-top: 150px;
    padding: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: solid 2px white;
    height: 70px;
    width: 210px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(60, 138, 127);
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser {
    position: relative;
    width: 80px;
    height: 30px;
    left: 20px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}